.SectionFive__Restaurant::before {
    position: absolute;
    content: "GALLERY";
    font-size: 30px;
    opacity: 5%;
}

.SectionFive__Restaurant {
    padding-top: 30px;
    .SectionFive__Restaurant__div__header {
        text-align: center;
        .SectionFive__Restaurant__div__header__h2 {
            font-size: 10px;
        }
        .SectionFive__Restaurant__div__header__p {
            font-size: 5px;
        }
    }
    .SectionFive__Restaurant__div__body__one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .SectionFive__Restaurant__div__body__one__img {
            background-color: rgba(0, 0, 0, 0.2);
            
            
        }

            .SectionFive__Restaurant__div__body__one__img__background {
                width: 300px;
                display: flex;                
            }
    
    }
}