@import '_variables.scss';

.footer{
    color: gray;
    .footer__div {
        display: grid;
        line-height: 3;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 1rem;
        .footer__div__about{
        
            .footer__div__about__h2{
                font-size: 10px;
                color: white;
                margin: 0;
            }
            .footer__div__about__ul{
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
    
                .footer__div__about__ul__li{
                    list-style-type: none;
                    padding: 0;
                    font-size: 5px;
                }
            }
        } 
        .footer__div__facilities{
            .footer__div__facilities__h2{
                font-size: 15px;
                color: white;
                margin: 0;
            }
            .footer__div__facilities__ul{
                padding: 0;
                margin: 0;
                .footer__div__facilities__ul__li{
                    list-style-type: none;
                    padding: 0;
                    font-size: 10px;
                }
            }
        }
        .footer__div__newsletters{
            .footer__div__newsletters__header{
                .footer__div__newsletters__header__h2{
                    font-size: 15px;
                    color: white;  
                    margin: 0; 
                }
                .footer__div__newsletters__header__p{
                    font-size: 10px;
                }
            }
            .footer__div__newsletters__body__email{
                display: grid;
                grid-template-rows: 15px;
                grid-template-columns: 2fr 1fr;
                gap: 0;
                
                .footer__div__newsletters__body__email__text{
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: gray;
                    .footer__div__newsletters__body__email__text__p{
                        font-size: 10px;
                        margin: 0;
                        
                        
                    }
                    }
                    .footer__div__newsletters__body__email__arrow{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: fit-content;
                        .footer__div__newsletters__body__email__arrow__logo{
                            width: 5px;
                            background-color: goldenrod;
                            padding: 5px;
                        }
                    }
                
            }    
        }
        .footer__div__contact{
            .footer__div__contact__h2{
                font-size: 15px;
                color: white;
                margin: 0;
            }
            .footer__div__contact__ul{
                padding: 0;
                margin: 0;
                .footer__div__contact__ul__li{
                    list-style-type: none;
                    font-size: 10px;
                    display: flex;
                    flex-direction: row;
                }
                .footer__div__contact__li__logo {
                    width: 5px;
                    height: 5px;
                }
            }
        }
    }
    .footer__background{
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    .footer__div__header{
        display: flex;
        padding-top: 1rem;
        align-items: center;
        justify-content: center;
        .footer__div__header__img{
            width: 20%;

        }
    }   
    .footer__div__footer{
        display: flex;
        flex-direction: row;
        border-top: 1px solid gray;
        height: fit-content;
        margin: 0 5px;
        .footer__div__footer__copyright{
            width: fit-content; 
            .footer__div__footer__copyright__p{
                font-size: 10px;
                .footer__div__footer__copyright__p__strong {
                    font-style: normal;
                    color: goldenrod;
                }
                .footer__div__footer__copyright__p__logo {
                    width: 3px;
                }
            }
        }
        .footer__div__footer__spoon{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: fit-content;
            .footer__div__footer__spoon__img{
                width: 20px;
                margin-left: 10px;
            }
        }
        .footer__div__footer__socials{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: row;
            
            .footer__div__footer__socials__fb{
                .footer__div__footer__socials__fb__logo{
                    width: 5px;
                    background-color: white;
                    padding: 2px;   
                    border-radius: 50%;
                }
            }
            .footer__div__footer__socials__X{
                .footer__div__footer__socials__X__logo{
                    width: 5px;
                    background-color: white;
                    padding: 2px;
                    border-radius: 50%;
                }
            }
            .footer__div__footer__socials__ytb{
                .footer__div__footer__socials__ytb__logo{
                    width: 5px;
                    background-color: white;
                    padding: 2px;
                    border-radius: 50%;
                }
            }
            .footer__div__footer__socials__Ln{
                .footer__div__footer__socials__Ln__logo{
                    width: 5px;
                    background-color: white;
                    padding: 2px;
                    border-radius: 50%;
                }
            }
        }
    }
}