.header {
    max-width: 100%;
    background-color: blue;
    background-image: url("img/slider/img_bg_slider_home01.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    

        .header-div {
            background-size: cover;
            padding: 15px;

            .header-div-play {
                float: right;
                margin-top: 75px;
                margin-right: 55px;
                background-color: white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                background-image: url("img/logo/bouton-jouer.png");
                background-size: 50%;
                background-repeat: no-repeat;
                background-position: center;
                
            }
    

            .header-explore-button {
                display: flex;
                align-self: flex-end;
                font-size: 10px;
                width: fit-content;
                background-color: transparent;
                color: white;
            }

            .header-arrow {
                width: 7px;
                filter: invert(100%);
            }
        }
        .header-div-h1 {
            font-family: 'Cinzel', serif;
            margin: 0;
            width: 125px;
            height: 100px;

            h1 {
                background-image: url("img/about-us/iconbgabout.png");
                background-size: 50%;
                color: white;
                background-repeat: no-repeat;
                font-size: 20px;
                background-position: top left;
            }
        }

        .header-div-nav {
            display: flex;
            flex-direction: row;

            .header-nav-bar {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }

            .header-logo-kababi {
                width: 54px;
                height: 18px;

            }

            .header-unlisted-list {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                margin: 0;
                padding: 0;
                margin-left: 10px;
                justify-content: space-evenly;
                font-size: 10px;

                .header-list {
                    display: flex;
                    justify-self: space-evenly;
                 

                }
            }

            .header-unlisted-list2 {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;
                font-size: 7px;

                .header-list {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .header-button-bookatable {
                        width: 70px;
                       text-align: center;
                        border-radius: 10px;
                        font-size: 7px;
                        color: white;
                        background-color: rgba(197,170,104,255);
                        border: none;
                    }

                    .header-phone-number {
                        font-size: 7px;
                    }

                    .header-list-phone {
                        width: 20px;
                    }

                }
            }
        }

    
}

@media only screen and (min-width: 410px) {
    .header {
        max-width: 100%;
        width: 100%;
        background-color: blue;
        background-image: url("img/slider/img_bg_slider_home01.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
        .header-div-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            .header-nav-bar {
                width: 90%;
            }

            .header-logo-kababi {
                width: 100px;
                height: auto;

            }

            .header-unlisted-list {
               gap: 1rem;
               margin-right: 2rem;
               margin-top: .5rem;
            }

            .header-unlisted-list2 {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                margin: 0;
                padding: 0;
                font-size: 7px;
                .header-phone-number {
                    font-size: 7px;
                }

                .header-list-phone {
                    width: 20px;
                }

                .header-button-bookatable {
                    margin-left: 0px;
                    width: 50px;
                    font-size: 15px;
                }

                .header-list {
                    display: flex;
                    align-self: center;

                }
            }
        }
        
    
            .header-div {
                padding: 25px;
    
                .header-div-play {
                    
                    margin: 19% 15%;
                    background-color: white;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    background-image: url("img/logo/bouton-jouer.png");
                    background-size: 30%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    
                }
        
    
                .header-explore-button {
                    display: flex;
                    align-self: flex-end;
                    font-size: 10px;
                    width: fit-content;
                    color: white;
                    background-color: transparent;
                    margin-top: 30px;
                    .header-arrow {
                        width: 10px;
                        height: 10px;
                        filter: invert(100%);
                        
                    }
                }
    
                .header-arrow {
                    width: 7px;
                    height: 7px;
                    filter: invert(100%);
                    
                }
            }
            .header-div-h1 {
                font-family: 'Cinzel', serif;
                width: 250px;
                height: 150px;
    
                h1 {
                    background-image: url("img/slider/img_bg2.png");
                    background-size: 20%;
                    color: white;
                    background-repeat: no-repeat;
                    font-size: 50px;
                    background-position: top right;
                }
            }
    }
}