@import '_variables.scss';

.SectionThree__Choose__div__header::after {
    position: absolute;
    left: 0;
    content: "ABOUT US";
    font-size: 30px;
    opacity: 5%;
}
.SectionThree__Choose {
    .SectionThree__Choose__div__body {
        display: grid;
        gap: 30px;
        flex-direction: row;
        grid-template-columns: repeat(2, 40%);
        justify-content: center;
        font-size: 12px;
        .SectionThree__Choose__div__body__text {
            .SectionThree__Choose__div__body___text__button {
                display:flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                background-color: $color_white;
                color: $color_black;
                max-height: 30px;
                border:solid 1px $color_black;
                &:hover{
                        background-color: $color_button;
                        color: $color_white;
                        border:none;
                        .SectionThree__Choose__div__body___text__button__logo {
                            filter:invert(100%);
                        }
                    }
                }
                .SectionThree__Choose__div__body___text__button__logo {
                    width: 10px;
                }
            }
    }           
    .SectionThree__Choose__div__header {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-image: url("img/about-us/iconbgabout.png");
        background-repeat: no-repeat;
        background-position: 90%;
        padding-bottom: 25px;
        background-size: 10%;
        padding-top: 1rem;

        .SectionThree__Choose__div__header__h2 {
            font-size: 10px;
            margin:0;
        }
        .SectionThree__Choose__div__header__p {
            font-size: 5px;
            margin:0;
        }
    }
    .SectionThree__Choose__div__logo {
        .SectionThree__Choose__div__logo__img {
            float: right;
            width: 50px;
        }
    }
}

@media only screen and (min-width: 410px) {
    .SectionThree__Choose__div__header::after {
        position: absolute;
        left: 0;
        content: "ABOUT US";
        font-size: 50px;
        opacity: 5%;
    }
    .SectionThree__Choose {
        
        .SectionThree__Choose__div__body {
            display: grid;
            gap: 30px;
            flex-direction: row;
            grid-template-columns: repeat(2, 40%);
            justify-content: center;
            font-size: 12px;

            .SectionThree__Choose__div__body__text {
                .SectionThree__Choose__div__body__text__p {
                    font-size: 20px;
                
                }
                .SectionThree__Choose__div__body___text__button {
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    background-color: $color_white;
                    color: $color_black;
                    max-height: 30px;
                    border:solid 1px $color_black;
                    }
                    .SectionThree__Choose__div__body___text__button__logo {
                        width: 10px;
                    }
                }
            .SectionThree__Choose__div__body__img {
                width: 100%;
                margin-bottom: 20px;
            }
            
        }
        
        .SectionThree__Choose__div__header {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-image: url("img/about-us/iconbgabout.png");
            background-repeat: no-repeat;
            background-position: 90%;
            padding-bottom: 25px;
            background-size: 10%;
            padding-top: 1rem;
    
            .SectionThree__Choose__div__header__h2 {
                font-size: 15px;
            }
            .SectionThree__Choose__div__header__p {
                font-size: 10px;
            }
        }
        .SectionThree__Choose__div__logo {
            .SectionThree__Choose__div__logo__img {
                float: right;
                width: 50px;
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .SectionThree__Choose {
        .SectionThree__Choose__div__header {
            .SectionThree__Choose__div__header__h2 {
                font-size: 25px;
                margin:0;
            }
            .SectionThree__Choose__div__header__p {
                font-size: 10px;
                margin:0;
            }
        }
    }
}