@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import '_slide1';
@import '_slide2';
@import '_slide3';
@import '_slide4';
@import '_slide5';
@import '_slide6';
@import '_slide7';
@import '_slide8';
@import "normalize.css";
@import '_variables.scss';

body {
    margin: 0;
    max-width: 100%;
    width: 100%;
    font-family: 'Forum', cursive;
    font-weight: lighter;
}